POSTGRES_USER=unicorn_user
POSTGRES_PASSWORD=magical_password
POSTGRES_DB=rainbow_database
POSTGRES_HOST=0.0.0.0
PGADMIN_DEFAULT_EMAIL=admin@linuxhint.com
PGADMIN_DEFAULT_PASSWORD=secret
PGADMIN_LISTEN_PORT=80
QUEUE_DATA="/queue_data"